<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fleece.FSharpData" version="0.4.0" targetFramework="net451" />
  <package id="FsCheck" version="1.0.4" targetFramework="net451" />
  <package id="FsCheck.Xunit" version="1.0.4" targetFramework="net451" />
  <package id="FsControl" version="1.0.9" targetFramework="net451" />
  <package id="FSharp.Data" version="2.0.14" targetFramework="net451" />
  <package id="FSharpPlus" version="0.0.4" targetFramework="net451" />
  <package id="Nancy" version="0.23.1" targetFramework="net451" />
  <package id="Nancy.Hosting.Self" version="0.23.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="PactNet" version="0.1.7-beta" targetFramework="net451" />
  <package id="ReadOnlyCollectionExtensions" version="1.2.0" targetFramework="net451" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net451" />
  <package id="System.IO.Abstractions" version="1.4.0.86" targetFramework="net451" />
  <package id="Unquote" version="2.2.2" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
</packages>